{:format :kotoba.cljk-origin/v1
 :renamed-on "2026-09-11"
 :decision "adr-2609111500-cljk-rename-all-clojure-source (com-junkawasaki/root 90-docs/adr; owner instruction 2026-09-11)"
 :rule "value = the extension the file had before the rename. A path ending in .clj.cljk or .cljs.cljk kept it in the name because both platform files existed (or the plain target was taken)."
 :origins
 {"src/torch/checkpoint.cljk" ".clj"
  "src/torch/continuous.cljk" ".cljc"
  "src/torch/continuous_ollama.cljk" ".cljs"
  "src/torch/core.cljk" ".cljc"
  "src/torch/device_profile.cljk" ".cljc"
  "src/torch/edge_runtime.cljk" ".cljc"
  "src/torch/expert_stream.cljk" ".clj"
  "src/torch/generate.cljk" ".cljc"
  "src/torch/gguf.cljk" ".clj"
  "src/torch/gguf_resource.cljk" ".clj"
  "src/torch/huggingface.cljk" ".clj"
  "src/torch/huggingface_resource.cljk" ".clj"
  "src/torch/kv_cache.cljk" ".cljc"
  "src/torch/metal_bundle.cljk" ".cljs"
  "src/torch/metal_bundle_export.cljk" ".clj"
  "src/torch/metal_paged.cljk" ".cljs"
  "src/torch/metal_resource.cljk" ".cljs"
  "src/torch/metal_train.cljk" ".cljs"
  "src/torch/model.cljk" ".cljc"
  "src/torch/model_registry.cljk" ".cljc"
  "src/torch/native_server.cljk" ".cljs"
  "src/torch/num_backend.cljk" ".cljc"
  "src/torch/ollama.cljk" ".cljc"
  "src/torch/ollama_http.cljk" ".cljs"
  "src/torch/openai.cljk" ".cljc"
  "src/torch/optim.cljk" ".cljc"
  "src/torch/paged_runtime.cljk" ".cljc"
  "src/torch/parallel.cljk" ".cljc"
  "src/torch/parallel_tcp.cljk" ".clj"
  "src/torch/ports.cljk" ".cljc"
  "src/torch/registry_ollama.cljk" ".cljs"
  "src/torch/registry_runtime.cljk" ".cljc"
  "src/torch/safetensors.cljk" ".clj"
  "src/torch/shape.cljk" ".cljc"
  "src/torch/speculative.cljk" ".cljc"
  "src/torch/state_dict.cljk" ".cljc"
  "src/torch/tokenizer.cljk" ".cljc"
  "src/torch/train.cljk" ".cljc"
  "src/torch/validate.cljk" ".cljc"
  "test/torch/checkpoint_test.cljk" ".clj"
  "test/torch/continuous_test.cljk" ".cljc"
  "test/torch/core_test.cljk" ".cljc"
  "test/torch/deno_autocast_verify.cljk" ".cljs"
  "test/torch/deno_continuous_verify.cljk" ".cljs"
  "test/torch/deno_device_sampling_verify.cljk" ".cljs"
  "test/torch/deno_kv_cache_verify.cljk" ".cljs"
  "test/torch/deno_metal_attention_verify.cljk" ".cljs"
  "test/torch/deno_metal_llama_train_verify.cljk" ".cljs"
  "test/torch/deno_metal_train_verify.cljk" ".cljs"
  "test/torch/deno_ollama_http_verify.cljk" ".cljs"
  "test/torch/deno_paged_batch_llama_verify.cljk" ".cljs"
  "test/torch/deno_paged_llama_verify.cljk" ".cljs"
  "test/torch/deno_public_gguf_continuous_http_verify.cljk" ".cljs"
  "test/torch/deno_public_gguf_continuous_verify.cljk" ".cljs"
  "test/torch/deno_public_gguf_metal_verify.cljk" ".cljs"
  "test/torch/deno_public_gguf_ollama_verify.cljk" ".cljs"
  "test/torch/deno_public_gguf_registry_verify.cljk" ".cljs"
  "test/torch/deno_quantized_llama_benchmark.cljk" ".cljs"
  "test/torch/device_profile_test.cljk" ".cljc"
  "test/torch/edge_runtime_test.cljk" ".cljc"
  "test/torch/expert_stream_test.cljk" ".clj"
  "test/torch/generate_test.cljk" ".cljc"
  "test/torch/gguf_bundle_export.cljk" ".clj"
  "test/torch/gguf_test.cljk" ".clj"
  "test/torch/hf_bundle_export.cljk" ".clj"
  "test/torch/huggingface_resource_test.cljk" ".clj"
  "test/torch/huggingface_test.cljk" ".clj"
  "test/torch/kv_cache_test.cljk" ".cljc"
  "test/torch/learned_attention_verify.cljk" ".cljs"
  "test/torch/metal_bundle_export_test.cljk" ".clj"
  "test/torch/model_registry_test.cljk" ".cljc"
  "test/torch/num_backend_test.cljk" ".cljc"
  "test/torch/ollama_test.cljk" ".cljc"
  "test/torch/openai_test.cljk" ".cljc"
  "test/torch/optim_test.cljk" ".cljc"
  "test/torch/paged_runtime_test.cljk" ".cljc"
  "test/torch/parallel_tcp_test.cljk" ".clj"
  "test/torch/parallel_test.cljk" ".cljc"
  "test/torch/public_gguf_verify.cljk" ".clj"
  "test/torch/public_safetensors_verify.cljk" ".clj"
  "test/torch/registry_runtime_test.cljk" ".clj"
  "test/torch/safetensors_test.cljk" ".clj"
  "test/torch/speculative_test.cljk" ".cljc"
  "test/torch/state_dict_test.cljk" ".cljc"
  "test/torch/tokenizer_test.cljk" ".cljc"
  "test/torch/tokenizer_verify.cljk" ".cljs"
  "test/torch/train_test.cljk" ".cljc"}}
